<!DOCTYPE html>
<html lang="zh-cn"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>入库信息管理</title>
    <div th:include="common/link"></div>
</head>
<body>
<!-- 表格 -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table id="stockTable"></table>
        </div>
    </div>
</div>
<!-- 工具栏 -->
<div id="toolbar">
    <div class="btn-group">
        <button class="btn btn-default" data-toggle='modal' data-target='#addModal' onclick="clearAddModel()">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
        <!--<button class="btn btn-default">-->
        <!--<i class="glyphicon glyphicon-trash"></i>-->
        <!--</button>-->
    </div>
</div>
<!-- 添加模态框 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addModalLabel">>> 添加入库信息 <<</h4>
            </div>
            <div class="modal-body">
                <!--添加入库信息表单体-->
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon" id="addGoodsName"></span>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="lnr lnr-user"></i></span>
                        <input class="form-control" id="addGoodsCode" placeholder="商品编号" type="text"
                                name="goodsCode" onchange="getGoodsInfo()" required="required">
                    </div>

                    <br>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="lnr lnr-eye"></i></span>
                        <input class="form-control" id="addPurchasePrice" placeholder="进价" type="text" name="purchasePrice"
                               required="required">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="lnr lnr-rocket"></i></span>
                        <input class="form-control" id="addStockNum" placeholder="入库数量" type="text" name="stockNum"
                               required="required">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="lnr lnr-envelope"></i></span>
                        <select class="form-control" id="addSupplierId" placeholder="供货商id" type="text"
                                name="supplierId" required="required"></select>
                    </div>


                </div>
                <!--    修改信息表单体 END -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="addStockBtn" type="button" class="btn btn-primary">添加</button>
            </div>
        </div><!-- /.modal-content -->

    </div><!-- /.modal -->
</div>
<!-- 编辑模态框 -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="updateModalLabel">>> 编辑入库信息 <<</h4>
            </div>
            <div class="modal-body">
                <!--修改信息表单体-->
                <div class="panel-body">
                    <input class="form-control" id="updateStockId" placeholder="入库id号" type="hidden"
                           name="stockId">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="lnr lnr-user"></i></span>
                        <input class="form-control" id="updateStockCode" placeholder="入库编号" type="text"
                               name="stockCode" disabled>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon" id="updateGoodsName"></span>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="lnr lnr-user"></i></span>
                        <input class="form-control" id="updateGoodsCode" placeholder="商品编码" type="text"
                               name="goodsCode" onchange="getGoodsInfoForUpdate()">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="lnr lnr-eye"></i></span>
                        <input class="form-control" id="updatePurchasePrice" placeholder="进价" type="text"
                               name="purchasePrice">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="lnr lnr-rocket"></i></span>
                        <input class="form-control" id="updateStockNum" placeholder="入库数量" type="text"
                               name="stockNum">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="lnr lnr-envelope"></i></span>
                        <select class="form-control" id="updateSupplierId" placeholder="供货商id" type="text"
                                name="supplierId" required="required"></select>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="lnr lnr-tablet"></i></span>
                        <input class="form-control" id="updateCreateDate" placeholder="入库时间" type="date"
                               name="createDate" disabled>
                    </div>
                    <br/>

                </div>
                <!--    修改信息表单体 END -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="updateStockBtn" data-target="#cfmModel" data-toggle="modal" class="btn btn-primary" >
                    提交修改
                </button>
            </div>
        </div><!-- /.modal-content -->

    </div><!-- /.modal -->
</div>
<!-- 确认模态框 -->
<div class="modal fade" id="cfmModel">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">提示信息</h4>
            </div>
            <div class="modal-body">
                <p>您确认要修改吗？</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="url"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button  onclick="submitUpdateEmployee()" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>
    /**
     * 表格初始化
     */
    $(function () {
        $('#stockTable').bootstrapTable({
            url: '/stock/getAllStock',         //请求后台的URL（*）
            method: 'post',                      //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            toolbarAlign: 'left',
            //buttonsToolbar:'#toolbar',        //一个jQuery 选择器，指明自定义的 buttons toolbar。
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "desc",                   //排序方式
            queryParams: {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: this.pageSize,   //页面大小
                offset: this.pageNumber,  //页码
                search: this.search
            },//传递参数（*）
            sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 8,                       //每页的记录行数（*）
            //sortClass:"role.id",                     //定义排序列，通过url方式获取数据填写字段名，否则填写下标。
            pageList: [8, 10],        //可供选择的每页的行数（*）
            search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            searchOnEnterKey: false,              //设置为 true时，按回车触发搜索方法，否则自动触发搜索方法。
            strictSearch: false,                //设置为 true启用全匹配搜索，否则为模糊搜索。
            searchText: null,                      //初始化搜索文字。
            searchAlign: 'left',                 //指定 搜索框 水平方向的位置。'left' 或 'right'。
            paginationVAlign: 'bottom',          //指定 分页条 在垂直方向的位置。'top'，'bottom' 或 'both'。
            paginationHAlign: 'right',           //指定 分页条 在水平方向的位置。'left' 或 'right'。
            trimOnSearch: true,                  //设置为 true 将自动去掉搜索字符的前后空格。
            showHeader: true,                    //是否显示列头。
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 0,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
            showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            dataType: 'json',                     //服务器返回的数据类型
            columns: [{
                field: 'stockCode',
                title: '入库编号',
                align: 'center',
                halign: 'center'
            }, {
                field: 'goodsCode',
                title: '商品编码',
                align: 'center',
                halign: 'center'
            }, {
                field: 'goodsName',
                title: '商品名称',
                align: 'center',
                halign: 'center'
            }, {
                field: 'purchasePrice',
                title: '进价',
                align: 'center',
                halign: 'center'
            }, {
                field: 'stockNum',
                title: '入库数量',
                align: 'center',
                halign: 'center'
            }, {
                field: 'stockMargin',
                title: '库存余量',
                align: 'center',
                halign: 'center'
            },  {
                field: 'supplierName',
                title: '供货商名称',
                align: 'center',
                halign: 'center'
            }, {
                field: 'createDate',
                title: '入库时间',
                align: 'center',
                halign: 'center'
            },  {
                field: 'employeeName',
                title: '入库员姓名',
                align: 'center',
                halign: 'center'
            }, {
                title: '操作',
                align: 'center',
                halign: 'center',
                formatter: function (value, row, index) {
                    var result = "<button type='button' class='btn btn-warning' data-toggle='modal' data-target='#updateModal' onclick=\"toUpdateBtn(" + JSON.stringify(row).replace(/\"/g, "'") + ")\" >编辑</button>&nbsp&nbsp";
                    return result;
                }
            }]

        });


    });

    /**
     * 清除添加员工模态框数据
     */
    function clearAddModel() {
        //清空数据
        $("#addGoodsCode").empty();
        $("#addSupplierId").empty();
        $("#addGoodsCode").append("<option value='0'><-- 请选择 --></option>")
        $("#addSupplierId").append("<option value='0'><-- 请选择 --></option>");
        $("#addGoodsCode").val("");
        $("#addPurchasePrice").val("");
        $("#addStockNum").val("");
        $("#addSupplierId").val(0);
        //用于标识商品是否有效
        $("#addGoodsName").html("");
        $("#addGoodsName").attr("value",0);

        $("#addStockBtn").removeAttr("disabled");
        //获取供货商列表(启用)
        $.get("/supplier/getAllEnabledSupplier",function (data) {
            if(data.result){
                $.each(data.data,function (index, value) {
                    $("#addSupplierId").append("<option value="+value.id+">"+value.supplierName+"</option>");
                });
            }
        });
    }

    /**
     * 根据code获取商品信息 (添加)
     */
    function getGoodsInfo(){
        //获取商品信息(启用)
        $.post("/goods/getGoodsByCode",{code:$("#addGoodsCode").val()},function (data) {
            if(data.result){
                $("#addGoodsName").html(data.data.goodsName);
                $("#addGoodsName").attr("value",1);
            }else {
                $("#addGoodsName").html("<font style='color: red'>无</font>");
                $("#addGoodsName").attr("value",0);
            }
        });
    }

    /**
     * 添加入库信息
     */
    $("#addStockBtn").click(function () {
        if ($("#addGoodsName").attr("value")!=1) {
            toastr.warning("请录入正确的商品");
            return;
        }
        if ($("#addGoodsCode").val() == ""||$("#addGoodsCode").val() == null) {
            toastr.warning("商品编号不能为空");
            return;
        }
        if ($("#addPurchasePrice").val() == "" || $("#addPurchasePrice").val() == null) {
            toastr.warning("进价不能为空");
            return;
        }
        if ($("#addStockNum").val() == "" || $("#addStockNum").val() == null) {
            toastr.warning("进货数量不能为空");
            return;
        }
        if ($("#addSupplierId").val() == 0) {
            toastr.warning("请选择供货商");
            return;
        }
        $("#addStockBtn").attr({disabled: "disabled"});
        $.ajax({
            type: "POST",
            url: "/stock/addStock",
            dataType: "json",
            data: {
                goodsCode: $("#addGoodsCode").val(),
                purchasePrice: $("#addPurchasePrice").val(),
                stockNum: $("#addStockNum").val(),
                stockMargin: $("#addStockNum").val(),
                supplierId: $("#addSupplierId").val()
            },
            success: function (data) {
                if (data.result) {
                    toastr.success(data.msg);
                    $('#stockTable').bootstrapTable('refresh', {url: "/stock/getAllStock"});
                    $('#addModal').modal("hide");
                } else {
                    toastr.error(data.msg);
                }
            }
        });
    });



    /**
     * 点击编辑按钮
     * 数据回显
     */
    function toUpdateBtn(row) {
        var rowObj = eval(row);
        $("#updateSupplierId").empty();
        $("#updateGoodsName").attr("value",1);


        $("#updateStockId").val(rowObj.id);
        $("#updateStockCode").val(rowObj.stockCode);
        $("#updateGoodsName").html(rowObj.goodsName);
        $("#updateGoodsCode").val(rowObj.goodsCode);
        $("#updatePurchasePrice").val(rowObj.purchasePrice);
        $("#updateStockNum").val(rowObj.stockNum);
        //获取供货商列表
        $.ajax({
            type:"GET",
            url:"/supplier/getAllEnabledSupplier",
            data:null,
            async:false,
            dataType:"json",
            success:function (data) {
                if(data.result){
                    $.each(data.data,function (index, value) {
                        $("#updateSupplierId").append("<option value="+value.id+">"+value.supplierName+"</option>");
                    });
                }
            }
        });
        /**
         * 数据回显
         */
        $('#updateSupplierId').children("option").each(function(){
            if($(this).val()==rowObj.supplierId){
                $(this).attr("selected",true);
            }
        });

        $("#updateCreateDate").val(rowObj.createDate);
    }

    /**
     * 根据code获取商品信息 (编辑)
     */
    function getGoodsInfoForUpdate(){
        //获取商品信息(启用)
        $.post("/goods/getGoodsByCode",{code:$("#updateGoodsCode").val()},function (data) {
            if(data.result){
                $("#updateGoodsName").html(data.data.goodsName);
                $("#updateGoodsName").attr("value",1);
            }else {
                $("#updateGoodsName").html("<font style='color: red'>无</font>");
                $("#updateGoodsName").attr("value",0);
            }
        });
    }
    /**
     * 编辑提交
     */
    function submitUpdateEmployee() {
        if($("#updateStockId").val()==""||$("#updateStockId").val()==null){
            toastr.warning("入库id不能为空,请尽快联系管理员");
            return;
        }
        if($("#updateGoodsName").attr("value")!=1){
            toastr.warning("请录入有效商品!");
            return;
        }
        if($("#updateGoodsCode").val()==""||$("#updateGoodsCode").val()==null){
            toastr.warning("商品编号不能为空!");
            return;
        }
        if($("#updatePurchasePrice").val()==""||$("#updatePurchasePrice").val()==null){
            toastr.warning("进价不能为空!");
            return;
        }
        if($("#updateStockNum").val()==""||$("#updateStockNum").val()==null){
            toastr.warning("库存不能为空!");
            return;
        }
        $.ajax({
            type:"POST",
            url:"/stock/updateStock",
            data:{
                id:$("#updateStockId").val(),
                goodsCode:$("#updateGoodsCode").val(),
                purchasePrice:$("#updatePurchasePrice").val(),
                stockNum:$("#updateStockNum").val(),
                stockMargin: $("#updateStockNum").val(),
                supplierId:$("#updateSupplierId").val()
            },
            dataType:"json",
            success:function (data) {
                if(data.result){
                    toastr.success(data.msg)
                    $('#stockTable').bootstrapTable('refresh', {url: "/stock/getAllStock"});
                    $('#updateModal').modal("hide");
                }else {
                    toastr.error(data.msg);
                }
            }
        });

    }

</script>
</body>
</html>